<form method='get'>
	Number of Words:
	<input type='number' name='numWords'>
	Separator:
	<select name='glue'>
		<option value='space'>space ' '</option>
		<option value='dash'>dash '-'</option>
		<option value='comma'>comma ','</option>
		<option value='star'>star '*'</option>
		<option value='none'>none ''</option>
	</select>
	<input type='submit' value='Generate!'>
</form>
<br>