<html>
	<head>
		<link rel='stylesheet' href='./css/base.css'>
		<title>{{title}}</title>
	</head>
	
	<body>
		<h1>Diceware Simulator</h1>
		<ul>
			<li><a href='/dice'>Generate Passphrase</a></li>
			<li><a href='/about'>About</a></li>
		</ul>
		<br>
		{{{body}}}
	</body>	
</html>

	