<!DOCTYPE HTML>

<html>
	<head>
		<link rel='stylesheet' href='../public/css/base.css'>
		<title>{{title}}</title>
	</head>
	
	<body>
		<h1>Diceware Simulator</h1>
		<ul>
			<li><a href='/dice'>Generate Passphrase</a></li>
			<li><a href='/about'>About</a></li>
		</ul>
		<form method='get'>
			Number of Words: 
			<input type='text' value='numWords'>
			Separator:
			<select name='glue'>
				<option value='space'>space ' '</option>
				<option value='dash'>dash '-'</option>
				<option value='comma'>comma ','</option>
				<option value='star'>star '*'</option>
				<option value='none'>none ''</option>
			</select>
			<input type='submit' value='Generate!'>
		</form>	
	</body>	
</html>
