.playArea{
	position: relative;
	height: 300px;
}

.finline{
	position: absolute;
	height: 100%;
	border-left: 1px solid gray;
	margin-left: 0.5px;
	width: 0px;
	left: 300px;
}

.player1{
	position: absolute;
	left: 0px;
	top: 10px;
}

.player2{
	position: absolute;
	left: 0px;
	bottom: 10px;
}