.playArea{
	position: relative;
	height: 300px;
	width: 150px;
	border-right: 2px dashed black;
}

.racer{
	position: absolute;
	left: 0px;
	font-size:50px;
}

.player1{
	top: 10px;
}

.player2{
	bottom: 10px;
}

button {
  font-size: 2em;
}

.hidden{
	display: none;
}