h1{
	text-align: center;
}
h2{
	text-align: center;
}
ul{
	text-align:center;
	list-style-type:none;
	margin: 0;
	padding: 0;
}
li{
	margin-right: 20px;
	display: inline;
}
form{
	text-align:center;
}
dt{
	font-weight:bold;
	font-size: 20px;
}
dd{
	margin: 0;
	padding: 0 0 0.5em 0;
	font-size:16px;
}