<h1>Login</h1>
<form method='post'>
	Username: <input type='text' name='user' required>
	<br>
	Password: <input type='password' name='pwd' required>
	<br>
	<input type='submit' value='Login'>
</form>
<p>Want go <a href='/'>back home</a>?</p>